<h1>Listing job_logs</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @job_logs.each do |job_log| %>
      <tr>
        <td><%= link_to 'Show', job_log %></td>
        <td><%= link_to 'Edit', edit_job_log_path(job_log) %></td>
        <td><%= link_to 'Destroy', job_log, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Job log', new_job_log_path %>
