<!DOCTYPE html>
<html>
<head>
  <title>OSU Jobs</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
			<%= yield %>
	</div>



	<!-- Modal -->
	<div class="modal fade" id="the-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-body">
						<h2 class="loading">Loading...</h2>
						<h2><span class="title"></span></h2>
						<h4><span class="department"></span><h4>
						<h6 class="date"></h6>
						<div class="description"></div>
						<p>&nbsp;</p>
					<center>
				    <button type="button" class="btn btn-xs btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Close</button>
						<a href='#' target="_blank" class="btn btn-xs btn-primary edit-payment"><span class="glyphicon glyphicon-edit"></span> Apply</a>
					</center>
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
	
	<script>
		$(function(){

			$('a.more-info').on('click', function() {
				job_posting_id = $(this).data('job-posting-id');
				$('#the-modal').modal('toggle');
				$('.loading').show();
				$('.modal-title').hide();
				$('.description').hide();
				$('.amount').hide();
				$('.client').hide();
				$('.date').hide();
				$('.edit-payment').hide();
				$.get("/job_postings/" + job_posting_id + ".json", function(job_posting) {
					$('.loading').hide();
					$('.title').html(job_posting.title).show();
					$('.description').html(job_posting.description).show();
					$('.department').html(job_posting.department.name).show();
					$('.date').html('Posted on: ' + job_posting.published_at).show();
					$('.edit-payment').show();
					$('.edit-payment').attr('href', job_posting.link);
				})
				return false;
			})

			$(':submit').addClass('btn btn-primary').css('margin-top', '10px');
			$(':text').addClass('form-control');
			$('table').addClass('table table-hover');
		})
	</script>
</body>
</html>
